{% extends 'base.html' %}
{% block content %}
  <h5>This is a page to test the bootstrap component</h5>
    <div class='container-fluid'>

      <div class="alert alert-secondary" role="alert">
        This is the nav bar 
      </div>

      <div class="row">

        <div class="col-2" style='min-height: 700px;'>
          <div class="alert alert-primary" role="alert" style='min-height: 700px;'>
                side bar, col-2 
          </div>
        </div>

        <!-------------------------- Main content ----- ------------------------>    
        <div class="col-10" >
          <div class="alert alert-primary" role="alert" style='min-height: 700px;'>
                Main content, col-10  min-height:800 px
              </br ></br >


                Test of no-gutters
                <!--------------------- row no-gutters ---------------->
                <div class="row no-gutters">

                  <div class="col">
                    <div class="alert alert-warning" role="alert">
                      this is the demonstration of row no-gutters
                    </div>
                  </div>

                  <div class="col">
                    <div class="alert alert-warning" role="alert">
                      this is the demonstration of row no-gutters
                    </div>
                  </div>

                  <div class="col">
                    <div class="alert alert-warning" role="alert">
                      this is the demonstration of row no-gutters
                    </div>
                  </div>

                </div>

                Test of margin control 
                <!----------   The test of margin control      ------------------------->
                <div class="row">
                  <div class="col-1">
                    <div class="alert alert-warning" role="alert">
                        Home
                    </div>
                  </div>
                  <div class="col-4 ml-auto">
                    <div class="alert alert-warning" role="alert">
                        <input type='text' class='form-control' placeholder="Search">
                    </div>
                  </div>
                </div>

                Test of order control
                <!------------   The test of order control     ------------------------->
                <div class='row'>
                  <div class="col-2 order-12">
                    <div class="alert alert-warning" role="alert">
                        First Item, order-12
                    </div>
                  </div>
                  <div class="col-8 order-6">
                    <div class="alert alert-warning" role="alert">
                        Second Item, order-6
                    </div>
                  </div>
                  <div class="col-2 order-1">
                    <div class="alert alert-warning" role="alert">
                        Last Item , order-1
                    </div>
                  </div>
                </div>

                <!-------------- Break point testing ------------------->
                Test of breakpoint and browser compatibility
              resize the browser to test it.</br></br>
              (col-) the smallest size</br>
              (col-sm-) the size beyond small</br>
              (col-md-) the size beyond medium</br>
              (col-lg-) the size of large device

                <div class='row'>
                  <div class="col-12 col-sm-4 ml-auto">
                        <input type='text' class='form-control' placeholder="col-12 col-sm-4">
                  </div>
                </div>
                <div class='row'>
                  <div class="col-12 col-md-4 ml-auto">
                        <input type='text' class='form-control' placeholder="col-12 col-md-6">
                  </div>
                </div>
                <div class='row'>
                  <div class="col-12 col-lg-4 ml-auto">
                        <input type='text' class='form-control' placeholder="col-12 col-lg-4">
                  </div>
                </div>
                <div class='row'>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto">
                        <input type='text' class='form-control' placeholder="col-12 col-sm-12 col-md-6 col-lg-4">
                  </div>
                </div>

            </div>
        </div>
        <!------------------------End of main content ------ ------------------>

      </div>
      <!------------------ End of the first row , nav and main content -------->


      <!----------------------- Second Row Content ---------------------->
      Test of mobile compatibility: Rearranging column at small size 
      <div class='row'>

        <div class="col-12 col-lg-2 mx-auto order-1">
          <div class="alert alert-success" role="alert">
              Top Content Item </br>
              col-12 col-lg-2 order-1 mx-auto
          </div>
        </div>

        <div class="col-12 col-lg-8 order-6 ml-auto mr-auto">
          <div class="alert alert-success" role="alert" style='min-height: 700px;'>
                Middle</br>
                col-12 col-lg-8 order-6 ml-auto mr-auto </br>
                </br >
                Can also use something like ml-lg-auto and order-ml-6</br></br></br>

                Spacing and padding:</br>
              bootstrap/utilities/spacing</br>

              Method:</br>
              class='col-3 py-3'            ------------------ Padding top and bottom </br>
              class='col-3 py-5'            -------------------Padding lelf and right </br>
              </br>

              more on the site , min=0 max=5


          </div>
        </div>

        <div class="col-12 col-lg-2 order-12">
          <div class="alert alert-success" role="alert">
              Bottom content Item</br>
              col-12 col-lg-2 order-12
          </div>
        </div>






















      </div>
      </br ><div class="border-top py-4"></div></br ></br >







































    <div class='container bg-light'>
      <div class="alert alert-primary" role="alert">
        container: it shrink when size of the browser is changed
      </div>
    </div>
    <div class='container-fluid'>
      <div class="alert alert-secondary" role="alert">
        container-fluid : it stay the same size no matter the size of the browser
      </div>
    </div>
  </br ></br ></br >
    <div class='container'>
        <div class='row'>

            <div class='col-12'>
              <div class="alert alert-primary" role="alert">
                (col-12) The full col width is 12
              </div>
            </div>

            <!-- This is the col 1 section -->
            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                (col-1)
              </div>
            </div>

             <!-- End  section -->

            <div class='col-1'>
              <div class="alert alert-primary" role="alert">
                This is (col-1) in side row
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                The default col is 12
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                some random text here 
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

            <div class='col'>
              <div class="alert alert-secondary" role="alert">
                container: it shrink when size of the browser is changed
              </div>
            </div>

      </div>































{% endblock %}