{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section" style="padding-top: 35px;" >
      <div class="media" style="padding-left: 35px;">
        <img class="rounded-circle account-im" src="{{ user.profile.image.url }}"  width="140px" height="140px">
        <div class="media-body"style="padding-left: 25px;">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}